.modal {
  display: none;
  
  &--schedule {
    width: 90dvw;
    height: 90dvh;
    
    iframe {
      width: 100%;
      height: 100%;
    }
  }
  
  &--article {
    color: #fff;
    background: #3A246F;
  }

  .article {
    max-width: 800px;
  }
}

@include down(768px) {
  .modal {
    &--schedule {
      padding: 15px;
    }
  }
}
