@font-face {
    font-family: 'PF Din Text Cond Pro';
    src: url('../fonts/pfdintextcondpro-regular.woff') format('woff');
    font-display: swap;
} 

@font-face {
    font-family: 'PF Din Text Cond Pro';
    src: url('../fonts/pfdintextcondpro-italic.woff') format('woff');
    font-style: italic;
    font-display: swap;
}

