// Text colors
$text-color: #E8DEDE;
$text-color-alt: #fff;

// Accent colors
$accent: #EBAE7D;
$background: #231148;
$background-light: #3A246F;

// Gray
$gray-1: #AAAAAA;
$gray-2: #E9E9E9;
$gray-3: #F8F8F8;


// Fonts
$font-main: 'Inter', arial, sans-serif;
$font-title: 'Merriweather', arial, sans-serif;
$font-decorative: 'Marianna', arial, sans-serif;
$font-numbers: 'Merriweather Sans', arial, sans-serif;

// Shadows
$wrapper-shadow: 0px 0px 100px #3d2774;
$card-shadow: 0 10px 50px -10px #3d2774;
$link-glow: 0 6px 20px rgba(235, 174, 125, 0.75);
