// Text colors
$text-color: #000000;
$text-color-alt: #333333;

// Gray
$gray-1: #AAAAAA;
$gray-2: #E9E9E9;
$gray-3: #F8F8F8;

// Accent colors
$accent: #05A6F2;
$accent-hover: #1DB4FC;
$accent-pale: #B4E4FB;
$accent-pale-2: #CDEDFC;
$accent-pale-3: #E6F6FE;

$green: #73BD2A;
$green-pale: #F1F8EA;

$pink: #D233A9;
$green-pale: #FBEBF6;

// Notification colors
$alert: #FF2E2E;
$success: #73BD2A;
$note: #05A6F2;
$warning: #FF922E;


// Fonts
$main-font: 'PF Din Text Cond Pro', 'Arial', sans-serif;

// Shadows
$pressed-shadow: inset 0px 7px 12px -3px rgba(0, 0, 0, 0.2);
$card-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
$wrapper-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);

// Widths
$container: 978px;
$mobile: 576px;
