.form {
    
    label {
        font-size: 16px;
        color: $text-color-alt;
        line-height: 1.5;
        margin-bottom: 0;
        
        & + .form__label-caption {
            font-size: 14px;
            color: $gray-1;
            line-height: 20px;
            display: block;
            margin-bottom: 20px;
            
            a {
                color: $accent;
            }
        }
    }

    input[type="text"], input[type="email"], input[type="number"], input[type="password"], input[type="tel"], select, textarea {
        padding: 9px 0 10px 15px;
        border: 1px solid $gray-2;
        font-family: $main-font;
        font-size: 16px;
        color: $text-color;
        width: 100%;
        display: block;
        margin-bottom: 20px;
        transition: 0.3s;

        @include input-placeholder {
            font-family: $main-font;
            font-size: 16px;
            color: $gray-1;
        }

        &:focus {
            border: 1px solid $accent-pale;
            outline: none;
        }

        &.form__field-error {
            border: 1px solid $alert;
        }
    }

    textarea {
        resize: vertical;
        min-height: 80px;
    }

    input[type="checkbox"], input[type="radio"] {
        display: none;
    }

    input[type="checkbox"] + label {
        position: relative;
        font-size: 14px;
        line-height: 20px;
        min-height: 20px;
        padding-left: 30px;
        cursor: pointer;
        color: $text-color-alt;
        text-align: left;
        display: block;

        a {
            color: black;
            text-decoration: underline;
        }

        &::before {
            content: '';
            position: absolute;
            display: inline-block;
            left: 0;
            top: 0;
            transform: none;
            vertical-align: middle;
            width: 20px;
            height: 20px;
            border: 1px solid $gray-2;
            transition: 0.3s;
        }

        &::after {
            content: '';
            position: absolute;
            display: inline-block;
            left: 0;
            top: 0;
            vertical-align: middle;
            transform: scale(0);
            width: 20px;
            height: 20px;
            transition: 0.2s;
            background: url(../images/icons/check-icon-blue.svg) center / 20px 20px no-repeat;
        }
        
        & + .form__label-caption {
            padding-left: 30px;
        }
    }

    input[type="checkbox"]:checked + label {
        &::after {
            transform: scale(1);
        }
    }

    input[type="radio"] + label {
        position: relative;
        font-size: 14px;
        line-height: 20px;
        min-height: 20px;
        padding-left: 30px;
        cursor: pointer;
        color: $text-color-alt;
        text-align: left;
        display: block;
        margin-bottom: 5px;

        &::before {
            content: '';
            position: absolute;
            display: inline-block;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            vertical-align: middle;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 1px solid $gray-1;
        }

        &::after {
            content: '';
            position: absolute;
            display: inline-block;
            left: 7px;
            top: 50%;
            vertical-align: middle;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: $accent;
            transform: translateY(-50%) scale(0);
            transition: 0.3s;
        }

        & + .form__label-caption {
            padding-left: 30px;
        }
    }

    input[type="radio"]:checked + label {
        &::before {
            border: 3px solid $accent;
        }
        &::after {
            content: '';
            transform: translateY(-50%);
        }
    }
}

.form__error-message {
    margin-top: -20px;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 16px;
    color: $alert;
}
