<div class="modal modal--article" id="article_ballroom">
    <article class="article">
        <h2>Бальные танцы</h2>
        <p>
            <strong>Бальные танцы</strong> — это вид танцев, который традиционно исполняется в парах. Их также называют «спортивными танцами» и «танцевальным спортом».
        </p>

        <p>Бальные танцы делятся на две программы: европейскую (или Standard) и латиноамериканскую (или Latin). Каждая из них состоит из пяти танцевальных стилей.</p>
        <p>В европейскую программу входят:</p>
        <ul>
            <li>медленный вальс;</li>
            <li>быстрый фокстрот (квикстеп);</li>
            <li>венский вальс;</li>
            <li>танго;</li>
            <li>медленный фокстрот</li>
        </ul>

        <p>Латиноамериканская программа включает:</p>
        <ul>
            <li>самбу;</li>
            <li>ча-ча-ча;</li>
            <li>румбу;</li>
            <li>пасодобль;</li>
            <li>джайв</li>
        </ul>

        <p>Бальные танцы пользуются большой популярностью в России. Сегодня проводятся соревнования по трём программам: европейской, латиноамериканской и «десятке», которая включает в себя все десять танцев.</p>
        <p>Бальные танцы не только прекрасный вид спорта, но и отличный способ улучшить своё здоровье и физическую форму. Они способствуют развитию дыхательной и сердечно-сосудистой систем, делая вас более выносливыми и энергичными.</p>
        <p>Люди, занимающиеся бальными танцами профессионально или просто, как хобби, всегда выделяются в толпе. Их отличает особая лёгкость и плавность походки, а также грациозность движений. Ведь чтобы исполнять вальс, танго или фокстрот, необходимо быть слаженным в паре.
            Желаете в этом убедиться? Приходите к нам!
        </p>
    </article>
</div>

<div class="modal modal--article" id="article_indi">
    <article class="article">
        <h2>Индийские танцы</h2>
        <p>
            <strong>Индийские танцы</strong> — это удивительное сочетание красоты, сюжета и способа общения. За свою многовековую историю в Индии появилось множество видов танцев.
        </p>
        <p>Танцы в Индии — это дополнительный язык, где слова и буквы произносятся телом танцора. И в этом языке каждая деталь имеет огромное значение. Представление можно сравнить с возведением здания: сначала создаётся основание, которое постепенно обрастает окнами, лепниной и декоративными элементами.</p>
        <p>Кроме хореографии, в индийском танце большое значение имеет абхинайя — способность исполнителя выражать эмоции и события лицом, головой и шеей. Существуют десятки проверенных временем движений и элементов мимики, которые позволяют индийскому танцору передать различные эмоции и состояния.</p>
        <p>В нашей школе танца вы сможете погрузиться в Bollywood dance - современные индийские танцы. Именно это направление позволит почувствовать себя звездой индийского кино.</p>
        <p>Предлагаем вам окунуться в мир индийского танца для того, чтобы узнать насколько многогранны и глубоки индийские танцы. Давайте проведём эксперимент. Приходите к зал, чтобы своим телом и душой прикоснуться к этому искусству!</p>
    </article>
</div>

<div class="modal modal--article" id="article_flamenko">
    <article class="article">
        <h2>Фламенко</h2>
        <p><strong>Фламенко</strong> — это невероятно красивый танец, который сочетает в себе чёткие ритмы, импровизацию, огненную страсть и силу характера. В его движениях нет места наигранности, здесь царит предельная откровенность и искренние эмоции.</p>
        <p>Движения танцовщиц всегда эффектны и выразительны, а их взгляды мгновенно манят. Этот испанский танец имеет древние корни, которые можно проследить ещё в мавританской культуре. В страстных танцевальных движениях можно выразить самые сильные эмоции и переживания. Каждый народ, живущий в Испании, внёс частицу своей души в это прекрасное фламенко.</p>
        <p>Официально считается, что фламенко появилось в 1785 году. Сейчас выделяют два направления этого танца, которые отличаются стилистикой исполнения:</p>
        <ul>
            <li>Древний или глубокий cante hondo — это культовый танец, который выражает сакральную сущность страстной, непобедимой и мечущейся души.</li>
            <li>Облегчённый cante chico — это современное фламенко, которое утратило свою сакральную глубину и стало доступно для всех, кто хочет прикоснуться к его таинствам.</li>
        </ul>
        <p>Танцевать фламенко — это искусство, где всегда есть горизонты для открытий. Этот танец невозможно спутать ни с каким другим благодаря его характерным движениям:</p>
        <ul>
            <li>оригинальной пластике рук;</li>
            <li>выразительной дроби каблуками;</li>
            <li>резким и неожиданным поворотам и выпадам;</li>
            <li>энергичным прищелкиваниям пальцами и хлопкам. </li>
        </ul>
        <p>Желаете прикоснуться к искусству? Познакомьтесь с танцем фламенко. </p>
    </article>
</div>

<div class="modal modal--article" id="article_modern">
    <article class="article">
        <h2>Современный танец</h2>
        <p><strong>Современный танец</strong> – это направление, которое позволяет танцору свободно выражать себя через движения. В них можно передать своё мировоззрение, эмоции, чувства и отношение к музыке. В нашей школе танца это направление представлено преимущественно модерном.</p>
        <p>История возникновения танца модерн – это короткий эпизод в истории мировой хореографии. Он возник в разных странах и развивался по-своему, создавая свою уникальную эстетику. В России он стал известен как свободный ритмопластический танец, который вобрал в себя черты национального характера.</p>
        <p>Танец модерн может быть как групповым, так и индивидуальным. Он основан на индивидуальном восприятии мира и позволяет танцорам проявить свою уникальность в свободном стиле движений и выборе танцевальных элементов.</p>
        <p>Основные принципы танца модерн:</p>
        <ul>
            <li>Отказ от канонов и воплощение новых тем и сюжетов через оригинальные танцевально-пластические средства.</li>
            <li>Концентрация не только на движениях тела, но и на ощущениях, возникающих в процессе танца.</li>
        </ul>
        <p>Цель модерна – это гармония в теле, душе и голове, а также между этими тремя компонентами. Модерн приемлет любое звуковое оформление. Это не просто техника, это мироощущение.</p>
        <p>Чтобы по-настоящему понять, подходит ли вам это направление, нужно попробовать заниматься им. Запишитесь в группу, чтобы обрести свободу через танец. </p>
    </article>
</div>

<div class="modal modal--article" id="article_oriental">
    <article class="article">
        <h2>Восточный танец</h2>
        <p><strong>Восточный танец</strong> — это старинное искусство, которое развивалось на протяжении многих веков. Он помогает достичь гармонии между телом, разумом и эмоциями.</p>
        <p>Этот танец не только способствует улучшению фигуры и омоложению, но и помогает раскрыть неповторимую женскую грацию и пластику.</p>
        <p>История восточного танца богата и интересна. На протяжении тысячелетий танцовщицы востока совершенствовали свою технику, делая её всё более изысканной и изящной.</p>
        <p>Восточный танец получил распространение во многих регионах Африки и Ближнего Востока. Его танцевали в Египте, Иране, Турции, Марокко, Тунисе, Ливии, Сирии, Иордании, Йемене и Судане.</p>
        <p>Этот танец — не просто движения бёдрами, это древняя культура, которая остаётся загадкой для многих из нас. Он появился очень давно и стал важной частью развития общества. Танец живота — это источник мощной положительной энергии, который позволяет выразить внутреннюю и внешнюю красоту через движения.</p>
        <p>В нашей школе мы предлагаем направление восточного танца, которое включает в себя как классический восточный танец, так и фьюжн-стили, то есть сочетание восточных элементов с бальными танцами, фламенко и другими стилями. Тренировки по этому направлению способствуют раскрытию женственности, проработке всех групп мышц и сохранению здоровья на всех уровнях.</p>
        <p>Возможно, именно это направление вам необходимо. Готовы раскрыть свой потенциал?</p>
    </article>
</div>

<div class="modal modal--article" id="article_body">
    <article class="article">
        <h2>Боди-балет</h2>
        <p><strong>Боди-балет</strong> - сравнительно новое направление, которым может заниматься любой желающий. Оно появилось в конце 1990-х — начале 2000-х гг. и с тех пор продолжает стремительно завоевывать свою аудиторию. </p>
        <p>Боди-балет сочетает в себе элементы классического танца и хореографии. Это позволяет глубоко проработать мышцы, которые отвечают за слаженную работу тела и помогают избежать болей в спине. Также занятия боди-балетом улучшают осанку и развивают общую выносливость и силу. </p>
        <p>Ещё одна особенность этого направления — сочетание балетных позиций, движений и переходов, которые позволяют развить координацию и чувство баланса.  </p>
        <p>Боди-балет представлен в нашей школе танца для взрослой аудитории. Вам уже есть 16 лет? Тогда это направление идеально подходит для вас. </p>
    </article>
</div>

<div class="modal modal--article" id="article_lady">
    <article class="article">
        <h2>Латина леди-стайл</h2>
        <p><strong>Латина леди-стайл</strong> — это направление, которое объединяет различные танцевальные техники, позволяя выразить женственность, грацию и изящество. До недавнего времени большинство социальных танцев были преимущественно мужскими, но это не устраивало современных женщин. В результате появился новый оригинальный стиль.</p>
        <p>Это направление включает в себя такие танцы, как бачата, сальса, меренге и другие. В латина леди-стайл они исполняются сольно, без партнёра.</p>
        <p>Занимаясь латина леди-стайл, вы сможете:</p>
        <ul>
            <li>раскрепоститься и избавиться от комплексов;</li>
            <li>обрести уверенность в себе и своей женской привлекательности;</li>
            <li>использовать свои сильные и слабые стороны.</li>
        </ul>
        <p>Это направление открыто для всех девушек, которые хотят научиться красиво и плавно двигаться. Для этого танца не важен возраст и уровень танцевальных навыков. Главное — огромное желание тренироваться.</p>
        <p>Хотите найти что-то новое и яркое для себя? Попробуйте танцевать в этом направлении!</p>
    </article>
</div>

<div class="modal modal--article" id="article_indi">
    <article class="article">
        <h2>Индийские танцы</h2>
    </article>
</div>
