<div class="modal modal--schedule" id="schedule_muziki">
    <iframe
        src="https://calendar.yandex.ru/embed/week?&layer_ids=22841704&tz_id=Europe/Simferopol&layer_names=РАСПИСАНИЕ МУЗЫКИ"
        frameborder="0" style="border: 1px solid #eee"></iframe>
</div>

<div class="modal modal--schedule" id="schedule_borisova">
    <iframe src="https://calendar.yandex.ru/embed/week?&layer_ids=22840472&tz_id=Europe/Simferopol&layer_names=РАСПИСАНИЕ  БОРИСОВА " frameborder="0" style="border: 1px solid #eee"></iframe>
</div>
