<!DOCTYPE html>
<html lang="ru">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{ pageTitle }}</title>
        <meta name="description" content="{{ pageDescription }}"/>
        <link rel="stylesheet" href="app.css">

        {% include "../blocks/partials/favicon.html" %}   
    </head>

    <body class="page page--{{ bodyClass }}">

        <div class="page__inner">
            {% block header %}
                {% include "../components/header/header.html" %}
            {% endblock %}

            <div class="page__content">
                {% block content %}{% endblock %}
            </div>

            {% block footer %}
                {% include "../components/footer/footer.html" %}
            {% endblock %}
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="app.js"></script>
    </body>
</html>
